<nav>
    <div class="site-title">
        <a href="/">Maple Blogs</a>
        <p class="navDescribe">A Maple's blog</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>