<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about">
        <h1>about page</h1>
        <h3>This page is made up with Node+Ejs+Express+MongoDB+Mongoose+HTML+javaScript</h3>    
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>